[submodule "themes/meme"]
	path = themes/meme
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/wowchemy-starter-book"]
	path = themes/wowchemy-starter-book
	url = https://github.com/wowchemy/starter-book.git
